.App{
  min-height: 100vh;
  background: rgb(193, 228, 240);
  display:flex ;
  justify-content: space-around;
  align-items: center;
}
.Head{
  min-height: 10vh;
  background: rgb(198, 211, 214);
  display:flex ;
  justify-content: space-around;
  align-items: center;
  font-style: italic;
  font-weight: bold;
}


.PlayGameBlue{
color: blue;
font-size: 30px;
font-weight: 900;
} 
.PlayGameRed{
  color: red;
  font-size: 30px;
  font-weight: 900;
  } 

 .PlayAgainNo{
display: none;
 } 
.PlayAgain{

border: 2px solid black;
height: 150px;
width: 150px;
background: rgb(91, 207, 14);
border-radius: 70px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin-left: 90%;


}

.square {
  height: 100px;
  width: 100px;
  display: grid; 
/*grid-template-columns:repeat(2,1fr);*/
  /*margin-top: 5% ;
  margin-left: 45%;*/  
  /*background-color: #665;*/
  /*animation: rotation 5s  linear;*/
 background-color: yellow;
  
}

.animatedSquare{
  height: 100px;
  width: 100px;
  display: grid; 
/*grid-template-columns:repeat(2,1fr);*/
  /*margin-top: 5% ;
  margin-left: 45%;*/  
  animation: rotation 5s  linear;
 background-color: yellow;
}

.tile{
 /* margin-top: 5% ;
  margin-left: 40%;*/

  margin-top: auto ;
  margin-left: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100px 100px 100px;
  grid-gap:10px;
  
  
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
  
}
