.App{
  min-height: 100vh;
  background: rgb(193, 228, 240);
  display:flex ;
  justify-content: space-around;
  align-items: center;
}

.Tweet{
border: 2px solid black;
height: 300px;
width: 300px;
background: white;
border-radius: 30px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;

}
