.App{
  min-height: 100vh;
  background: rgb(193, 228, 240);
  display:flex ;
  justify-content: space-around;
  align-items: center;
}

.Tweet{
border: 2px solid black;
height: 150px;
width: 150px;
background: rgb(91, 207, 14);
border-radius: 70px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin-left: 90%;

}

.square {
  height: 100px;
  width: 100px;
  display: grid;

  
  
/*grid-template-columns:repeat(2,1fr);*/

  /*margin-top: 5% ;
  margin-left: 45%;*/  
  /*background-color: #665;
 /* animation: rotation 5s infinite linear;*/
 background-color: yellow;
  
}

.tile{
  margin-top: 5% ;
  margin-left: 40%;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap:10px;
  
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
  
}
